@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Edu+NSW+ACT+Foundation&family=Roboto+Mono:wght@100;400&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main{
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
}
@media(max-width:533px) {
    .main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 112px;
    }
    .fa-envelope{
        margin: 10px 0px;
    }
    .navbar{
        flex-direction: column;
        position: fixed;
        top: 70px;
        padding-bottom: 100px;
    }
}
@media(max-width:1113px) {
    .main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 112px;
    }
    .fa-envelope{
        margin: 10px 0px;
    }
    .navbar{
        flex-direction: column;
        position: fixed;
        top: 70px;
        padding-bottom: 100px;
    }
}

/*  Footer list */

.footer-nav{
    margin-top: 230px;
    z-index: 100;
  
}
li a{
    font-weight: 300;
}
footer{
    background-color: rgb(190, 48, 43);
}


